app = 'nuzantara-mouth'
primary_region = 'sin'

[build]

[env]
  NODE_ENV = 'production'
  NEXT_PUBLIC_API_URL = 'https://nuzantara-rag.fly.dev'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
